body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    font-family: 'Roboto', arial
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

button {
    background-color:#3882F6;
    color: white;
    font-weight: bold;
    font-size: 1.025rem;
    padding: 5px 15px;
    border-radius: 10px;
}

button:hover {
    background-color: white;
    color: #3882F6;
    cursor: pointer;
}

/* HEADER SECTION */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 0 150px;
    gap: 100px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    text-align: right;
}

a {
    color: white;
    text-decoration: none;
}

/* TOP SECTION */

.top {
    background-color: #1F2937;
    color: white;
    padding: 60px;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}

.top button {
    margin-top: 30px;
}

.top .picture {
    border:5px solid white;
    border-radius: 20px;
    padding:3px;
    margin:5px;
    flex-wrap: wrap;
}

/* MIDDLE SECTION */

.mid {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 60px;
    font-size: 25px;
}

.samples {
    display: flex;
    flex: auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    
}

.samples .picture{
    border:5px solid #3882F6;
    border-radius: 20px;
    padding:3px;
    margin:5px;
}

/* BOTTOM (QUOTE) SECTION  */

.bottom {
    background-color: #E5E7EB;
    font-size: 45px;
    padding: 100px 200px;
}

#author{
    text-align: end;
    font-size: 30px;
}

/* FOOTER SECTION  */

.footer {
    background-color: #1F2937;
    text-align: center;
    font-size: 35;
    padding: 20px;
}

.footer a {
    text-decoration: underline;
}